.bottom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.footer-bx .image-bx {
  background-color: #999999;
  width: 100%;
  height: 100%;
  text-align: center;
}

.footer-menu {
  background-color: var(--lightPrimaryColor);
  padding: 3rem 5rem;
  box-shadow: 0 0 15px #000;
  position: relative;
  &:before {
    content: "";
    box-shadow: 0 0 15px #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    position: absolute;
  }
  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li:not(:last-child) {
      margin-right: 5rem;
    }
    a {
      font-size: 2.4rem;
      font-weight: 500;
      color: var(--forWebsitePrimaryColor);
      &:hover {
        color: var(--whiteColor);
      }
    }
  }
  .search-bx {
    // display: inline-block;
    label {
      text-align: left;
      margin-bottom: 1rem;
      display: block;
      color: var(--whiteColor);
      font-size: 2rem;
    }
    [type="search"] {
      outline: none;
      padding: 6px 10px;
      font-size: 1.8rem;
      width: 100%;
      min-width: 28rem;
      max-width: 40rem;
    }
  }
  .social-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0 0 0 2rem;
    height: 43px;
    li {
      margin-left: 1rem;
      a {
        display: block;
      }
    }
    img {
      max-width: 34px;
    }
  }
}
.bottom-bar-btn {
  margin: -20px auto;
  display: block;
  border: 0;
  background-color: transparent;
  animation: scroll-down 1s infinite;
  z-index: 1;
  position: relative;
  &:focus-visible {
    outline: none;
  }
}
.bottom-footer:not(.active) .bottom-bar-btn {
  transform: rotate(180deg);
  animation: unset;
}
@media (max-width:991px) {
  button.bottom-bar-btn{
    transform: rotate(0deg) !important;
    &.active {
      transform: rotate(180deg) !important;
      animation: unset;
    }
  }
} 
.bottom-footer.active {
  .footer-menu {
    display: none;
  }

  // .bottom-bar-btn {
  //   position: fixed;
  //   bottom: 110px;
  //   left: 0;
  //   right: 0;
  //   z-index: 10;
  //   opacity: 0;
  //   img {
  //     transform: rotate(-180deg);
  //   }
  // }
  // &:hover {
  //   .bottom-bar-btn {
  //     opacity: 1;
  //   }
  // }
}

@keyframes scroll-down {
  50% {
    transform: translateY(-15px);
  }
}

// RESPONSIVE CSS
@media (max-width: 1600px) {
  .footer-menu .search-bx [type="search"] {
    min-width: 20rem;
  }
  .footer-menu .menu-items li:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 1366px) {
  .footer-menu .menu-items a {
    font-size: 1.8rem;
  }
  .footer-menu .menu-items li:not(:last-child) {
    margin-right: 2rem;
  }
  .footer-menu {
    padding: 2rem;
  }
  .footer-menu .search-bx [type="search"] {
    font-size: 14px;
  }
  .footer-menu .social-links {
    height: 37px;
    img {
      max-width: 30px;
    }
  }
  .foreign-section .content-bx {
    padding-left: 3rem;
  }
}

@media (max-width: 1199px) {
  .footer-menu .menu-items a {
    font-size: 1.6rem;
  }
}

@media (max-width: 991px) {
  .footer-menu {
    .menu-items {
      display: none;
    }
  }
  .searchFormFooter {
    &:not(.show) {
      display: none;
    }
  }
  .right-icon-footer {
    display: flex;
    align-items: center;
  }
  .footer-menu.footer-mobile-show {
    .menu-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        width: calc(100% / 2 - 1rem);
        margin-bottom: 2rem;
        &:nth-child(2n + 2) {
          margin-left: 1rem;
        }
        &:not(:last-child) {
          margin-right: 0;
        }
        a {
          font-size: 2.2rem;
        }
      }
    }
    .right-icon-footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .searchFormFooter {
        display: none;
        margin-left: 2rem;
        input {
          border: 1px solid #dfdfdf;
          height: 5rem;
          border-radius: 5px;
          padding: 0 1rem;
          min-width: 22rem;
          margin-left: 1.5rem;
          &:focus {
            outline: none;
          }
        }
        &.show {
          display: block;
        }
      }
    }
  }
  .logo {
    img {
      max-width: 60px;
    }
  }
  .search-bx {
    margin-left: 2rem;
    .close-footer-btn {
      display: none;
    }
    &.active {
      .search-icon {
        display: none;
      }
      .close-footer-btn {
        display: block;
        background-color: var(--LightBg);
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .search-icon {
    filter: brightness(0) invert(1);
  }
  .footer-menu .social-links li {
    margin-left: 0;
  }
  .footer-menu .social-links li + li {
    margin-left: 2rem;
  }
}

@media (max-width: 520px) {
  .footer-mobile-show {
    .d-flex {
      flex-direction: column;
      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }
      .right-icon-footer {
        margin-top: 0rem;
        .searchFormFooter {
          margin-left: 0;
        }
      }
    }
  }
  .footer-menu.footer-mobile-show {
    .menu-items {
      li {
        a {
          font-size: 18px;
        }
      }
    }
  }
  .logo-social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
